.hero {
	position: relative;
	margin-top: 30px;
}

.hero-block {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	&:first-child {
		margin-bottom: 10px;
	}

	img {
		width: 318px;
		height:184px;
		object-fit: contain;
	}
}
