/* ========== Основные цвета проекта ========== */
$primary: #081128;
$secondary: #1f7adc;
$text-color: #292938;
$border-color: #dfe1ea;

$yellow: #ffe228;
$blue: #0092ff;
$red: #fb3e3e;
$light-grey: #dfe1ea;
$green: #64BD38;

$white: #fff;
$black: #000;
$black-light: #111;

/* ========== Начиртания шрифтов ========== */
$font-regular: 400;
$font-semi: 500;
$font-semi-b: 600;
$font-bold: 700;
$font-e-bold: 800;
$font-extra: 900;

/* ========== Переменные для border-radius ========== */
$border: 100px;
$border-medium: 8px;
$border-light: 4px;
